*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}
.cabezera{
	width: 100%;
	align-items: center;
    text-align: center;
}
.nav_cabezera{
	max-width: 100%;
	margin: auto;
	background-color: #002B5B;
	font-size: 20px;
}
.menu_horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu_horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu_horizontal > li:hover{
	background-color: #256D85;
}
.menu_vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: #8FE3CF
}
.menu_horizontal li:hover .menu_vertical{
	display: block;
}
.menu_vertical li:hover{
	background-color: #002B5B;
}

.menu_vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

.moderniza{
    padding: 80px 200px;
    font-size: 15px;
    text-align: left;
}
.moderniza_imagen{
	position: relative;
	right: 150px;
}

.salud_imagen{
	position: relative;
	left: 200px;
}
.que_es_salud{
	position: relative;
	left: 280px;
	max-width: 600px;
}
.pone_al_dia{
	text-align: center;
	margin-top: 80px;
	font-size: 60px;
}
.img1_2_3{
	position: relative;
	left: 150px
}
.pie_de_pagina{
	width: 100%;
	background-color: #4d6087;
	color: white;
}
.slogan{
	box-sizing: border-box;
	width: 200px;
	position: relative;
	left: 40px;
	margin-top: -30px;
	font-size: 13px;
}
.icono{
	width: 30px;
	position: relative;
	left: 1100px;
}
.final{
	text-align: center;
}

.producto_herramientas{
    display: block;
    padding: 80px 200px;
    font-size: 15px;
    text-align: left;
}
.producto_herramientas_imagen{
	position: relative;
	right: 150px;
}
.producto_pfm_imagen{
	position: relative;
	left: 200px;
}
.producto_pfm{
	position: relative;
	left: 280px;
	max-width: 500px;
}
.producto_microahorro{
    display: block;
    padding: 80px 200px;
    font-size: 15px;
    text-align: left;
}
.producto_microahorro_imagen{
	position: relative;
	right: 150px;
}
.producto_grupal_imagen{
	position: relative;
	left: 200px;
}
.producto_grupal{
	position: relative;
	left: 280px;
	max-width: 500px;
}
.llamado_accion{
	background-color:dodgerblue;
	text-align: center;
	padding: 20px 120px;
}
.nosotros{
	font-size: 45px;
	margin-bottom: 30px;
}
.premios{
	text-align: center;
	background-color:dodgerblue;
	color: white;
	font-size: 30px;
}
.premios_imagen{
	position: relative;
	left:150px
}
.premios_imagen{
	margin-top: 100px;
	margin-bottom: 100px;
}
.contenedor{
	width: 90%;
	margin-left: 90Px;
	margin-bottom: 400px;
}
.columna{
	margin-top: 40px;
	margin-left: 70px;
	width: 25%;
	float: left;
}
.columna h1{
	width: 200px;
	text-align: center;
}
.columna p{
	width: 200px;
	text-align: center;
}
.ceo{
	margin-top: 40px;
	width: 200px;
	
}

.cto{
	margin-top: 40px;
	width: 200px;
}
.coo{
	margin-top: 40px;
	width: 200px;
	
}
.boton{
	text-decoration: none;
	padding: 5px;
	font-size: 25px;
	color: white;
	background-color: #8FE3CF;
	border-radius: 10px;
}
.contenedor_card{
	display: flex;
	justify-content: space-around;
	padding: 50px;
}
.card{
	width: 30%;
	height: 350px;
	background-color: white;
	border: 2px solid #256D85;

}
.card_imagen{
	width: 90%;
	padding-top: 10px;
	padding-bottom: 40px;
}
.card_titulo{
	padding: 10px;
}
.card_descripcion{
	padding: 10px;
}
.boton_card{
	padding: 2px;
	margin-left: 10px;
	margin-bottom: 20px;
	text-decoration: none;
	background-color: #256D85;
	color: white;
	border-radius: 2px;
}
.llamado_contacto{
	text-decoration: none;
	color: white;
	margin-left: 30px;
	background-color:#256D85 ;
	padding: 10px;
	border-radius: 5px;
}
.contenedor_contacto{

	display: flex;
	justify-content: space-around;
	padding: 50px;
	padding-bottom: 20px;
}
.card_contacto{
	padding-top: 40px;
	width: 30%;
	height: 250px;
	background-color: white;
	text-align: center;
}
.imagen_contacto{
	width: 30%;
	
}
.detalle_contacto{
	font-family: Arial, Helvetica, sans-serif;
}
.mapa{
text-align: center;
padding: 30px;
margin-bottom: 10px;
background-color:#256D85 ;
}

.contacto_portada{
	background-color: #4d6087;
	margin-top: 20px;
	text-align: center;
}
.contacto_mensaje{
	padding: 40px;
	color: white;
}
.formulario{
	padding: 20px;
}
