/*footer*/
.slogan{
	box-sizing: border-box;
	width: 200px;
	position: relative;
	left: 40px;
	margin-top: -30px;
	font-size: 13px;
}
.pie_de_pagina{
	width: 100%;
	background-color: #4d6087;
	color: white;
}
.icono{
	width: 30px;
	position: relative;
	left: 1100px;
}
.final{
	text-align: center;
}
